node_modules/
dist/
.npm-cache/
.electron-cache/
.electron-builder-cache/
.vite/

# local projects
projects/*.nvsproj

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk
.DS_Store
Thumbs.db
